{
 "openapi": "3.0.0",
 "info": {
  "contact": {
   "email": "beheerpdok@kadaster.nl",
   "name": "PDOK Support",
   "url": "https://www.pdok.nl/support"
  },
  "description": "Deze dataset bevat de gegevens van nederlandse grondwatermonitoring afkomstig uit de Basisregistratie Ondergrond (BRO). Het betreft de meest karakteristieke (ken)gegevens van grondwatermonitoringputten en de daarmee samenhangende kengegevens van de grondwatermonitoringnetten waarvoor die putten zijn gebruikt, plus de karakteristieken van in die putten gemeten grondwaterstands- en grondwatersamenstellingsgegevens.  Grondwatermonitoring houdt in dat de toestand van het grondwater in een bepaald gebied, of eigenlijk in een bepaald deel van de ondergrond, over langere tijd gevolgd wordt. De grootte van het gebied en de diepte van monitoring verschillen per grondwatermonitoringnet. Er wordt daarbij gekeken naar de grondwaterstand (kwantiteit) en/of naar de samenstelling van het grondwater (kwaliteit). Hiervoor worden periodiek metingen uitgevoerd. Een beschrijving van deze dataset is opgenomen op de BRO Productomgeving.",
  "license": {
   "name": "CC0 1.0",
   "url": "http://creativecommons.org/publicdomain/zero/1.0/deed.nl"
  },
  "termsOfService": "",
  "title": "BRO - Grondwatermonitoring (GM) in samenhang - karakteristieken",
  "version": "1.0.0"
 },
 "servers": [
  {
   "description": "API endpoint",
   "url": "https://api.pdok.nl/tno/bro-grondwatermonitoring-in-samenhang-karakteristieken/ogc/v1"
  }
 ],
 "paths": {
  "/": {
   "get": {
    "description": "The landing page provides links to the API definition and the conformance statements for this API.",
    "operationId": "getLandingPage",
    "parameters": [
     {
      "$ref": "#/components/parameters/f"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/LandingPage"
     },
     "400": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad request: For example, invalid or unknown query parameters.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "404": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not found: The requested resource does not exist on the server. For example, a path parameter had an incorrect value.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "406": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not acceptable: The requested media type is not supported by this resource.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "500": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Internal server error: An unexpected server error occurred.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "502": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad Gateway: An unexpected error occurred while forwarding/proxying the request to another server.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     }
    },
    "summary": "Landing page",
    "tags": [
     "Common"
    ]
   }
  },
  "/api": {
   "get": {
    "description": "This document",
    "operationId": "getOpenApi",
    "parameters": [
     {
      "$ref": "#/components/parameters/f"
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/200"
     },
     "400": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad request: For example, invalid or unknown query parameters.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "404": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not found: The requested resource does not exist on the server. For example, a path parameter had an incorrect value.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "406": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not acceptable: The requested media type is not supported by this resource.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "500": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Internal server error: An unexpected server error occurred.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "502": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad Gateway: An unexpected error occurred while forwarding/proxying the request to another server.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     }
    },
    "summary": "This document",
    "tags": [
     "Common"
    ]
   }
  },
  "/collections": {
   "get": {
    "description": "A list of all collections (geospatial data resources) in this dataset.",
    "operationId": "getCollections",
    "parameters": [
     {
      "description": "The format of the response. If no value is provided, the standard http\nrules apply, i.e., the accept header is used to determine the format.\n\nPre-defined values are \"json\" and \"html\". The response to other\nvalues is determined by the server.",
      "example": "json",
      "explode": false,
      "in": "query",
      "name": "f",
      "required": false,
      "schema": {
       "enum": [
        "json",
        "html"
       ],
       "type": "string"
      },
      "style": "form"
     }
    ],
    "responses": {
     "200": {
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/collections"
        }
       },
       "text/html": {
        "schema": {
         "type": "string"
        }
       }
      },
      "description": "The collections (geospatial data resources) shared by this API.\n\nThis response can be references directly for every service that wants only essential information at the collections level. /collections/collectionId might return more information.\n\nThe dataset is organized as one or more collections. This resource provides information about and how to access the collections.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "400": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad request: For example, invalid or unknown query parameters.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "404": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not found: The requested resource does not exist on the server. For example, a path parameter had an incorrect value.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "406": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not acceptable: The requested media type is not supported by this resource.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "500": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Internal server error: An unexpected server error occurred.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "502": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad Gateway: An unexpected error occurred while forwarding/proxying the request to another server.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     }
    },
    "summary": "the collections in the dataset",
    "tags": [
     "Collections"
    ]
   }
  },
  "/collections/gm_gar": {
   "get": {
    "description": "gm_gar collection (geospatial data resource) in this dataset.",
    "operationId": "getCollection.gm_gar",
    "parameters": [
     {
      "description": "The format of the response. If no value is provided, the standard http\nrules apply, i.e., the accept header is used to determine the format.\n\nPre-defined values are \"json\" and \"html\". The response to other\nvalues is determined by the server.",
      "example": "json",
      "explode": false,
      "in": "query",
      "name": "f",
      "required": false,
      "schema": {
       "enum": [
        "json",
        "html"
       ],
       "type": "string"
      },
      "style": "form"
     }
    ],
    "responses": {
     "200": {
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/collection"
        }
       },
       "text/html": {
        "schema": {
         "type": "string"
        }
       }
      },
      "description": "Metadata about the collection.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "400": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad request: For example, invalid or unknown query parameters.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "404": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not found: The requested resource does not exist on the server. For example, a path parameter had an incorrect value.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "406": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not acceptable: The requested media type is not supported by this resource.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "500": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Internal server error: An unexpected server error occurred.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "502": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad Gateway: An unexpected error occurred while forwarding/proxying the request to another server.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     }
    },
    "summary": "describes a gm_gar collection",
    "tags": [
     "Collections"
    ]
   }
  },
  "/collections/gm_gar/items": {
   "get": {
    "description": "Fetch features of the feature collection with id `gm_gar`.\n\nEvery feature in a dataset belongs to a collection. A dataset may\nconsist of multiple feature collections. A feature collection is often a\ncollection of features of a similar type, based on a common schema.\n\nUse content negotiation to request HTML or GeoJSON.",
    "operationId": "gm_gar.getFeatures",
    "parameters": [
     {
      "$ref": "#/components/parameters/f-features"
     },
     {
      "$ref": "#/components/parameters/limit"
     },
     {
      "$ref": "#/components/parameters/crs"
     },
     {
      "$ref": "#/components/parameters/bbox"
     },
     {
      "$ref": "#/components/parameters/bbox-crs"
     },
     {
      "$ref": "#/components/parameters/datetime_notsupported"
     },
     {
      "$ref": "#/components/parameters/filter"
     },
     {
      "$ref": "#/components/parameters/filter-crs"
     },
     {
      "$ref": "#/components/parameters/filter-lang"
     },
     {
      "$ref": "#/components/parameters/profile"
     },
     {
      "$ref": "#/components/parameters/cursor"
     },
     {
      "description": "BRO ID is de identificatiecode die een object heeft binnen een (lokaal) registratie.",
      "explode": false,
      "in": "query",
      "name": "bro_id",
      "required": false,
      "schema": {
       "type": "string"
      },
      "style": "form"
     },
     {
      "description": "Primaire sleutel van gm_gar collectie.",
      "explode": false,
      "in": "query",
      "name": "gm_gar_pk",
      "required": false,
      "schema": {
       "type": "integer"
      },
      "style": "form"
     },
     {
      "description": "Refererende sleutel naar gm_gmw_monitoringtube collectie.",
      "explode": false,
      "in": "query",
      "name": "gm_gmw_monitoringtube_fk",
      "required": false,
      "schema": {
       "type": "integer"
      },
      "style": "form"
     }
    ],
    "responses": {
     "200": {
      "content": {
       "application/geo+json": {
        "schema": {
         "$ref": "#/components/schemas/featureCollectionGeoJSON_gm_gar"
        }
       },
       "application/vnd.ogc.fg+json": {
        "schema": {
         "$ref": "#/components/schemas/featureCollectionJSONFG_gm_gar"
        }
       },
       "text/html": {
        "schema": {
         "type": "string"
        }
       }
      },
      "description": "The response is a document consisting of features in the collection.\nThe features included in the response are determined by the server\nbased on the query parameters of the request. To support access to\nlarger collections without overloading the client, the API supports\npaged access with links to the next page, if more features are selected\nthat the page size.\n\nThe `bbox` and `datetime` parameter can be used to select only a\nsubset of the features in the collection (the features that are in the\nbounding box or time interval). The `bbox` parameter matches all features\nin the collection that are not associated with a location, too. The\n`datetime` parameter matches all features in the collection that are\nnot associated with a time stamp or interval, too.\n\nThe `limit` parameter may be used to control the subset of the\nselected features that should be returned in the response, the page size.\nEach page may include links to support paging (link relation `next`).",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       },
       "Content-Crs": {
        "description": "a URI, in angular brackets, identifying the coordinate reference system used in the content / payload",
        "example": "\u003chttp://www.opengis.net/def/crs/EPSG/0/3395\u003e",
        "schema": {
         "type": "string"
        }
       }
      }
     },
     "400": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad request: For example, invalid or unknown query parameters.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "404": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not found: The requested resource does not exist on the server. For example, a path parameter had an incorrect value.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "406": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not acceptable: The requested media type is not supported by this resource.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "500": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Internal server error: An unexpected server error occurred.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "502": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad Gateway: An unexpected error occurred while forwarding/proxying the request to another server.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     }
    },
    "summary": "fetch features",
    "tags": [
     "Features"
    ]
   }
  },
  "/collections/gm_gar/items/{featureId}": {
   "get": {
    "description": "Fetch the feature with id `featureId` in the feature collection\nwith id `gm_gar`.\n\nUse content negotiation to request HTML or GeoJSON.",
    "operationId": "gm_gar.getFeature",
    "parameters": [
     {
      "description": "local identifier of a feature",
      "explode": false,
      "in": "path",
      "name": "featureId",
      "required": true,
      "schema": {
       "type": "string"
      },
      "style": "simple"
     },
     {
      "$ref": "#/components/parameters/f-features"
     },
     {
      "$ref": "#/components/parameters/crs"
     },
     {
      "$ref": "#/components/parameters/profile"
     }
    ],
    "responses": {
     "200": {
      "content": {
       "application/geo+json": {
        "schema": {
         "$ref": "#/components/schemas/featureGeoJSON_gm_gar"
        }
       },
       "application/vnd.ogc.fg+json": {
        "schema": {
         "$ref": "#/components/schemas/featureJSONFG_gm_gar"
        }
       },
       "text/html": {
        "schema": {
         "type": "string"
        }
       }
      },
      "description": "fetch the feature with id `featureId` in the feature collection\nwith id `collectionId`",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       },
       "Content-Crs": {
        "description": "a URI, in angular brackets, identifying the coordinate reference system used in the content / payload",
        "example": "\u003chttp://www.opengis.net/def/crs/EPSG/0/3395\u003e",
        "schema": {
         "type": "string"
        }
       }
      }
     },
     "400": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad request: For example, invalid or unknown query parameters.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "404": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not found: The requested resource does not exist on the server. For example, a path parameter had an incorrect value.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "406": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not acceptable: The requested media type is not supported by this resource.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "500": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Internal server error: An unexpected server error occurred.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "502": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad Gateway: An unexpected error occurred while forwarding/proxying the request to another server.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     }
    },
    "summary": "fetch a single feature",
    "tags": [
     "Features"
    ]
   }
  },
  "/collections/gm_gar/queryables": {
   "get": {
    "description": "Fetch the queryables of the collection with id `gm_gar`. Queryables are the properties that can be used to filters items in this collection.\nThe response is a JSON Schema of a object where each property is a queryable.",
    "operationId": "gm_gar.getQueryables",
    "parameters": [
     {
      "$ref": "#/components/parameters/f"
     }
    ],
    "responses": {
     "200": {
      "content": {
       "application/schema+json": {
        "schema": {
         "$ref": "#/components/schemas/jsonSchema"
        }
       },
       "text/html": {
        "schema": {
         "type": "string"
        }
       }
      },
      "description": "The queryable properties of this collection.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "400": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad request: For example, invalid or unknown query parameters.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "404": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not found: The requested resource does not exist on the server. For example, a path parameter had an incorrect value.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "406": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not acceptable: The requested media type is not supported by this resource.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "500": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Internal server error: An unexpected server error occurred.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "502": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad Gateway: An unexpected error occurred while forwarding/proxying the request to another server.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     }
    },
    "summary": "fetch queryables properties of this collection",
    "tags": [
     "Features"
    ]
   }
  },
  "/collections/gm_gar/schema": {
   "get": {
    "description": "Fetch the schema of the collection with id `gm_gar`. The schema describes the features such as the available fields and data types.\n\nUse content negotiation to request HTML or JSON schema.",
    "operationId": "gm_gar.getSchema",
    "parameters": [
     {
      "$ref": "#/components/parameters/f"
     }
    ],
    "responses": {
     "200": {
      "content": {
       "application/schema+json": {
        "schema": {
         "$ref": "#/components/schemas/jsonSchema"
        }
       },
       "text/html": {
        "schema": {
         "type": "string"
        }
       }
      },
      "description": "The response is a document containing the schema that describes the features in this collection.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "400": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad request: For example, invalid or unknown query parameters.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "404": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not found: The requested resource does not exist on the server. For example, a path parameter had an incorrect value.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "406": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not acceptable: The requested media type is not supported by this resource.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "500": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Internal server error: An unexpected server error occurred.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "502": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad Gateway: An unexpected error occurred while forwarding/proxying the request to another server.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     }
    },
    "summary": "fetch the schema of this collection",
    "tags": [
     "Features"
    ]
   }
  },
  "/collections/gm_gld": {
   "get": {
    "description": "gm_gld collection (geospatial data resource) in this dataset.",
    "operationId": "getCollection.gm_gld",
    "parameters": [
     {
      "description": "The format of the response. If no value is provided, the standard http\nrules apply, i.e., the accept header is used to determine the format.\n\nPre-defined values are \"json\" and \"html\". The response to other\nvalues is determined by the server.",
      "example": "json",
      "explode": false,
      "in": "query",
      "name": "f",
      "required": false,
      "schema": {
       "enum": [
        "json",
        "html"
       ],
       "type": "string"
      },
      "style": "form"
     }
    ],
    "responses": {
     "200": {
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/collection"
        }
       },
       "text/html": {
        "schema": {
         "type": "string"
        }
       }
      },
      "description": "Metadata about the collection.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "400": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad request: For example, invalid or unknown query parameters.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "404": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not found: The requested resource does not exist on the server. For example, a path parameter had an incorrect value.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "406": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not acceptable: The requested media type is not supported by this resource.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "500": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Internal server error: An unexpected server error occurred.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "502": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad Gateway: An unexpected error occurred while forwarding/proxying the request to another server.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     }
    },
    "summary": "describes a gm_gld collection",
    "tags": [
     "Collections"
    ]
   }
  },
  "/collections/gm_gld/items": {
   "get": {
    "description": "Fetch features of the feature collection with id `gm_gld`.\n\nEvery feature in a dataset belongs to a collection. A dataset may\nconsist of multiple feature collections. A feature collection is often a\ncollection of features of a similar type, based on a common schema.\n\nUse content negotiation to request HTML or GeoJSON.",
    "operationId": "gm_gld.getFeatures",
    "parameters": [
     {
      "$ref": "#/components/parameters/f-features"
     },
     {
      "$ref": "#/components/parameters/limit"
     },
     {
      "$ref": "#/components/parameters/crs"
     },
     {
      "$ref": "#/components/parameters/bbox"
     },
     {
      "$ref": "#/components/parameters/bbox-crs"
     },
     {
      "$ref": "#/components/parameters/datetime_notsupported"
     },
     {
      "$ref": "#/components/parameters/filter"
     },
     {
      "$ref": "#/components/parameters/filter-crs"
     },
     {
      "$ref": "#/components/parameters/filter-lang"
     },
     {
      "$ref": "#/components/parameters/profile"
     },
     {
      "$ref": "#/components/parameters/cursor"
     },
     {
      "description": "BRO ID is de identificatiecode die een object heeft binnen een (lokaal) registratie.",
      "explode": false,
      "in": "query",
      "name": "bro_id",
      "required": false,
      "schema": {
       "type": "string"
      },
      "style": "form"
     },
     {
      "description": "Primaire sleutel van gm_gld collectie.",
      "explode": false,
      "in": "query",
      "name": "gm_gld_pk",
      "required": false,
      "schema": {
       "type": "integer"
      },
      "style": "form"
     },
     {
      "description": "Refererende sleutel naar gm_gmw_monitoringtube collectie.",
      "explode": false,
      "in": "query",
      "name": "gm_gmw_monitoringtube_fk",
      "required": false,
      "schema": {
       "type": "integer"
      },
      "style": "form"
     }
    ],
    "responses": {
     "200": {
      "content": {
       "application/geo+json": {
        "schema": {
         "$ref": "#/components/schemas/featureCollectionGeoJSON_gm_gld"
        }
       },
       "application/vnd.ogc.fg+json": {
        "schema": {
         "$ref": "#/components/schemas/featureCollectionJSONFG_gm_gld"
        }
       },
       "text/html": {
        "schema": {
         "type": "string"
        }
       }
      },
      "description": "The response is a document consisting of features in the collection.\nThe features included in the response are determined by the server\nbased on the query parameters of the request. To support access to\nlarger collections without overloading the client, the API supports\npaged access with links to the next page, if more features are selected\nthat the page size.\n\nThe `bbox` and `datetime` parameter can be used to select only a\nsubset of the features in the collection (the features that are in the\nbounding box or time interval). The `bbox` parameter matches all features\nin the collection that are not associated with a location, too. The\n`datetime` parameter matches all features in the collection that are\nnot associated with a time stamp or interval, too.\n\nThe `limit` parameter may be used to control the subset of the\nselected features that should be returned in the response, the page size.\nEach page may include links to support paging (link relation `next`).",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       },
       "Content-Crs": {
        "description": "a URI, in angular brackets, identifying the coordinate reference system used in the content / payload",
        "example": "\u003chttp://www.opengis.net/def/crs/EPSG/0/3395\u003e",
        "schema": {
         "type": "string"
        }
       }
      }
     },
     "400": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad request: For example, invalid or unknown query parameters.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "404": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not found: The requested resource does not exist on the server. For example, a path parameter had an incorrect value.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "406": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not acceptable: The requested media type is not supported by this resource.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "500": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Internal server error: An unexpected server error occurred.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "502": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad Gateway: An unexpected error occurred while forwarding/proxying the request to another server.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     }
    },
    "summary": "fetch features",
    "tags": [
     "Features"
    ]
   }
  },
  "/collections/gm_gld/items/{featureId}": {
   "get": {
    "description": "Fetch the feature with id `featureId` in the feature collection\nwith id `gm_gld`.\n\nUse content negotiation to request HTML or GeoJSON.",
    "operationId": "gm_gld.getFeature",
    "parameters": [
     {
      "description": "local identifier of a feature",
      "explode": false,
      "in": "path",
      "name": "featureId",
      "required": true,
      "schema": {
       "type": "string"
      },
      "style": "simple"
     },
     {
      "$ref": "#/components/parameters/f-features"
     },
     {
      "$ref": "#/components/parameters/crs"
     },
     {
      "$ref": "#/components/parameters/profile"
     }
    ],
    "responses": {
     "200": {
      "content": {
       "application/geo+json": {
        "schema": {
         "$ref": "#/components/schemas/featureGeoJSON_gm_gld"
        }
       },
       "application/vnd.ogc.fg+json": {
        "schema": {
         "$ref": "#/components/schemas/featureJSONFG_gm_gld"
        }
       },
       "text/html": {
        "schema": {
         "type": "string"
        }
       }
      },
      "description": "fetch the feature with id `featureId` in the feature collection\nwith id `collectionId`",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       },
       "Content-Crs": {
        "description": "a URI, in angular brackets, identifying the coordinate reference system used in the content / payload",
        "example": "\u003chttp://www.opengis.net/def/crs/EPSG/0/3395\u003e",
        "schema": {
         "type": "string"
        }
       }
      }
     },
     "400": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad request: For example, invalid or unknown query parameters.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "404": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not found: The requested resource does not exist on the server. For example, a path parameter had an incorrect value.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "406": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not acceptable: The requested media type is not supported by this resource.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "500": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Internal server error: An unexpected server error occurred.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "502": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad Gateway: An unexpected error occurred while forwarding/proxying the request to another server.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     }
    },
    "summary": "fetch a single feature",
    "tags": [
     "Features"
    ]
   }
  },
  "/collections/gm_gld/queryables": {
   "get": {
    "description": "Fetch the queryables of the collection with id `gm_gld`. Queryables are the properties that can be used to filters items in this collection.\nThe response is a JSON Schema of a object where each property is a queryable.",
    "operationId": "gm_gld.getQueryables",
    "parameters": [
     {
      "$ref": "#/components/parameters/f"
     }
    ],
    "responses": {
     "200": {
      "content": {
       "application/schema+json": {
        "schema": {
         "$ref": "#/components/schemas/jsonSchema"
        }
       },
       "text/html": {
        "schema": {
         "type": "string"
        }
       }
      },
      "description": "The queryable properties of this collection.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "400": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad request: For example, invalid or unknown query parameters.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "404": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not found: The requested resource does not exist on the server. For example, a path parameter had an incorrect value.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "406": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not acceptable: The requested media type is not supported by this resource.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "500": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Internal server error: An unexpected server error occurred.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "502": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad Gateway: An unexpected error occurred while forwarding/proxying the request to another server.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     }
    },
    "summary": "fetch queryables properties of this collection",
    "tags": [
     "Features"
    ]
   }
  },
  "/collections/gm_gld/schema": {
   "get": {
    "description": "Fetch the schema of the collection with id `gm_gld`. The schema describes the features such as the available fields and data types.\n\nUse content negotiation to request HTML or JSON schema.",
    "operationId": "gm_gld.getSchema",
    "parameters": [
     {
      "$ref": "#/components/parameters/f"
     }
    ],
    "responses": {
     "200": {
      "content": {
       "application/schema+json": {
        "schema": {
         "$ref": "#/components/schemas/jsonSchema"
        }
       },
       "text/html": {
        "schema": {
         "type": "string"
        }
       }
      },
      "description": "The response is a document containing the schema that describes the features in this collection.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "400": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad request: For example, invalid or unknown query parameters.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "404": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not found: The requested resource does not exist on the server. For example, a path parameter had an incorrect value.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "406": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not acceptable: The requested media type is not supported by this resource.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "500": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Internal server error: An unexpected server error occurred.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "502": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad Gateway: An unexpected error occurred while forwarding/proxying the request to another server.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     }
    },
    "summary": "fetch the schema of this collection",
    "tags": [
     "Features"
    ]
   }
  },
  "/collections/gm_gmn": {
   "get": {
    "description": "gm_gmn collection (geospatial data resource) in this dataset.",
    "operationId": "getCollection.gm_gmn",
    "parameters": [
     {
      "description": "The format of the response. If no value is provided, the standard http\nrules apply, i.e., the accept header is used to determine the format.\n\nPre-defined values are \"json\" and \"html\". The response to other\nvalues is determined by the server.",
      "example": "json",
      "explode": false,
      "in": "query",
      "name": "f",
      "required": false,
      "schema": {
       "enum": [
        "json",
        "html"
       ],
       "type": "string"
      },
      "style": "form"
     }
    ],
    "responses": {
     "200": {
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/collection"
        }
       },
       "text/html": {
        "schema": {
         "type": "string"
        }
       }
      },
      "description": "Metadata about the collection.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "400": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad request: For example, invalid or unknown query parameters.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "404": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not found: The requested resource does not exist on the server. For example, a path parameter had an incorrect value.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "406": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not acceptable: The requested media type is not supported by this resource.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "500": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Internal server error: An unexpected server error occurred.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "502": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad Gateway: An unexpected error occurred while forwarding/proxying the request to another server.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     }
    },
    "summary": "describes a gm_gmn collection",
    "tags": [
     "Collections"
    ]
   }
  },
  "/collections/gm_gmn/items": {
   "get": {
    "description": "Fetch features of the feature collection with id `gm_gmn`.\n\nEvery feature in a dataset belongs to a collection. A dataset may\nconsist of multiple feature collections. A feature collection is often a\ncollection of features of a similar type, based on a common schema.\n\nUse content negotiation to request HTML or GeoJSON.",
    "operationId": "gm_gmn.getFeatures",
    "parameters": [
     {
      "$ref": "#/components/parameters/f-features"
     },
     {
      "$ref": "#/components/parameters/limit"
     },
     {
      "$ref": "#/components/parameters/crs"
     },
     {
      "$ref": "#/components/parameters/bbox"
     },
     {
      "$ref": "#/components/parameters/bbox-crs"
     },
     {
      "$ref": "#/components/parameters/datetime_notsupported"
     },
     {
      "$ref": "#/components/parameters/filter"
     },
     {
      "$ref": "#/components/parameters/filter-crs"
     },
     {
      "$ref": "#/components/parameters/filter-lang"
     },
     {
      "$ref": "#/components/parameters/profile"
     },
     {
      "$ref": "#/components/parameters/cursor"
     },
     {
      "description": "BRO ID is de identificatiecode die een object heeft binnen een (lokaal) registratie.",
      "explode": false,
      "in": "query",
      "name": "bro_id",
      "required": false,
      "schema": {
       "type": "string"
      },
      "style": "form"
     },
     {
      "description": "Primaire sleutel van gm_gmw collectie.",
      "explode": false,
      "in": "query",
      "name": "gm_gmn_pk",
      "required": false,
      "schema": {
       "type": "integer"
      },
      "style": "form"
     }
    ],
    "responses": {
     "200": {
      "content": {
       "application/geo+json": {
        "schema": {
         "$ref": "#/components/schemas/featureCollectionGeoJSON_gm_gmn"
        }
       },
       "application/vnd.ogc.fg+json": {
        "schema": {
         "$ref": "#/components/schemas/featureCollectionJSONFG_gm_gmn"
        }
       },
       "text/html": {
        "schema": {
         "type": "string"
        }
       }
      },
      "description": "The response is a document consisting of features in the collection.\nThe features included in the response are determined by the server\nbased on the query parameters of the request. To support access to\nlarger collections without overloading the client, the API supports\npaged access with links to the next page, if more features are selected\nthat the page size.\n\nThe `bbox` and `datetime` parameter can be used to select only a\nsubset of the features in the collection (the features that are in the\nbounding box or time interval). The `bbox` parameter matches all features\nin the collection that are not associated with a location, too. The\n`datetime` parameter matches all features in the collection that are\nnot associated with a time stamp or interval, too.\n\nThe `limit` parameter may be used to control the subset of the\nselected features that should be returned in the response, the page size.\nEach page may include links to support paging (link relation `next`).",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       },
       "Content-Crs": {
        "description": "a URI, in angular brackets, identifying the coordinate reference system used in the content / payload",
        "example": "\u003chttp://www.opengis.net/def/crs/EPSG/0/3395\u003e",
        "schema": {
         "type": "string"
        }
       }
      }
     },
     "400": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad request: For example, invalid or unknown query parameters.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "404": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not found: The requested resource does not exist on the server. For example, a path parameter had an incorrect value.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "406": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not acceptable: The requested media type is not supported by this resource.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "500": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Internal server error: An unexpected server error occurred.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "502": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad Gateway: An unexpected error occurred while forwarding/proxying the request to another server.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     }
    },
    "summary": "fetch features",
    "tags": [
     "Features"
    ]
   }
  },
  "/collections/gm_gmn/items/{featureId}": {
   "get": {
    "description": "Fetch the feature with id `featureId` in the feature collection\nwith id `gm_gmn`.\n\nUse content negotiation to request HTML or GeoJSON.",
    "operationId": "gm_gmn.getFeature",
    "parameters": [
     {
      "description": "local identifier of a feature",
      "explode": false,
      "in": "path",
      "name": "featureId",
      "required": true,
      "schema": {
       "type": "string"
      },
      "style": "simple"
     },
     {
      "$ref": "#/components/parameters/f-features"
     },
     {
      "$ref": "#/components/parameters/crs"
     },
     {
      "$ref": "#/components/parameters/profile"
     }
    ],
    "responses": {
     "200": {
      "content": {
       "application/geo+json": {
        "schema": {
         "$ref": "#/components/schemas/featureGeoJSON_gm_gmn"
        }
       },
       "application/vnd.ogc.fg+json": {
        "schema": {
         "$ref": "#/components/schemas/featureJSONFG_gm_gmn"
        }
       },
       "text/html": {
        "schema": {
         "type": "string"
        }
       }
      },
      "description": "fetch the feature with id `featureId` in the feature collection\nwith id `collectionId`",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       },
       "Content-Crs": {
        "description": "a URI, in angular brackets, identifying the coordinate reference system used in the content / payload",
        "example": "\u003chttp://www.opengis.net/def/crs/EPSG/0/3395\u003e",
        "schema": {
         "type": "string"
        }
       }
      }
     },
     "400": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad request: For example, invalid or unknown query parameters.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "404": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not found: The requested resource does not exist on the server. For example, a path parameter had an incorrect value.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "406": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Not acceptable: The requested media type is not supported by this resource.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "500": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Internal server error: An unexpected server error occurred.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
         "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$",
         "type": "string"
        }
       }
      }
     },
     "502": {
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/exception"
        }
       }
      },
      "description": "Bad Gateway: An unexpected error occurred while forwarding/proxying the request to another server.",
      "headers": {
       "API-Version": {
        "description": "Semantic version (semver) of the API according to [API Design Rules](https://gitdocumentatie.logius.nl/publicatie/api/adr/2.0.2/#/core/version-header).",
        "schema": {
         "example": "1.0.0",
[...]
